.loadMore{
    padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        background-color: #7caadb;
        color: #1f1a1a;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;

}

.loadMore:hover {
    background-color: #cbd5e0;
}